img.superior {
  margin-top: 40px;
  margin-bottom: 50px;
}



.wrapper, .navbar-even-innerer {
  margin: 0 auto;
  width: 600px;
  font-family: 'Open Sans', sans-serif;
}


#eventos {
  margin-bottom: 30px;
}


 .wrapper h5 {
  color: #47ABC8;
  font-size: 16px;
  margin-top: 30px;
}


 .wrapper h3 {
  font-weight: bold;
  font-size: 16px;
  margin-top: 30px;
}

div.span12 {
  width:100%;
}

.btn,
.btn-info {
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -o-border-radius:0;
}